
<div class="container">
   <div class="row mt-5">
      <div class="col-12">
         <h1>Thank you for your order.</h1>
      </div>  
      <div class="col-12">
         <p>Your order status is: <%= @order %></p>
      </div>        
   </div>
</div>
